*{
    margin: 0;
    padding: 0;
} 

header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  cursor:pointer;
}


#logo{
    display: flex;
}

.logo{
  margin: 20px;
  margin-bottom: 1px;
  height: 50%;
  width: 40%;
}

.almendra{
  margin-top: 10%;
  font-size: 35px;
  color: #a4beba;
  height: 20px;
}

body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-family: "alice", serif;
    font-weight: 400;
}

.letras{
  color: #a4beba;
  text-decoration: none;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  font-variant: normal;
  font-size: 20px;
  list-style-type: none;

}

.nav-item{
  list-style: none;
  display: inline-block;
  margin: 0 50px;
  position:relative;
  padding-top: 40px;
}

.letras::before{
  content: "";
  height: 3px;
  width: 0%;
  background: #a4beba;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s ease-out;
}

.letras:hover::before{
  width: 100%;
}


.container{
  padding-top: 50px;
  width: 100%;
  height: 480px;
  position: absolute;
}

.container img {
  object-fit: cover;
  width: 100%;
  height: 480px;
  position: absolute;
  z-index: 1;
  }
  
.inicio__titulo{
  position: absolute;
  color: white;
  background: rgba(223, 231, 233, 0);
  text-shadow: rgba(0, 0, 0, 0.7) 0px 4px 1px;
  text-align: center;
  margin: 15% 40% 0% 40%;
  gap: 5%;
  font-family: "alice", serif;
  color: #f9f6f2;
}

.main__inicio__titulo{
  margin-bottom: 15%;
  margin: 15% auto;
}


.container .main__inicio {
    background: rgba(223, 231, 233, 0);
    width: 600px;
    position: relative;
    z-index: 3;
  }

#descripcion{
  background-color: #a4beba;
  color: white;
  width: 100%;
  height: 250px;

}

.descripcion{
  font-family: "alice", serif;
  padding-top: 30px;
  margin: 20px 3%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-content: center;
  text-align: center;

}

.descripcion1{
  width: 80%;
}

.descripcion2{
   width: 80%;
}

#btn-tela{
  background-color: #a4beba;
  margin-top: 0px;
  padding-bottom: 5%;
}

.btn-tela{
  display: block;
  margin: 0% 40% 0% 40%;
  justify-content: center;
  background-color: #f9f6f2;
  border-radius: 30px;
  border: solid 1px #f9f6f2;
  width: 20%;
  color: #c3c9c8;
  text-decoration: none;
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  cursor: pointer;
  padding: auto;
}

.btn-tela:hover{
background-color: grey;
}

.descripcion3{
  width: 80%;
}


#fotosdestacada{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  margin: 2% 6%;

}

.destacada1{
  width: 70%;
  border-radius: 5%;
}

.destacada1:hover{
  transform: scale(120%);
}

.destacada2{
  width: 80%;
  border-radius: 5%;
}

.destacada2:hover{
  transform: scale(120%);
}

.destacada3{
  width: 80%;
  border-radius: 5%;
}

.destacada3:hover{
  transform: scale(120%);
}


#rectangulo{
    background-color: #c3c9c8;
    width: 90%;
    margin: 5%;
    display: flex;
    justify-content: center;
}


.nosotras{
    width: 400px;
    height: 400px;
    margin: 5%;
    margin-left: 15%;
}

.botonnosotras{
    display: block;
    position: relative;
    justify-content: center;
    background-color: #f9f6f2;
    border-radius: 50px;
    border: solid 1px #f9f6f2;
    padding: 10px 20px;
    color: #c3c9c8;
    text-decoration: none;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    cursor: pointer;
    margin: 10% 15%;
    width: 40%;
}

.botonnosotras:hover {
  color: white;
  background-color: #a4beba;
}



.parrafonosotras{
    font-family: "Alice",serif;
    color: #515a59;
    width: 60%;
    margin-top: 20%;
    text-align: center;
}

.footer{
  width: 100%;
  border: solid 1px #c3c9c8;

}

.footer .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0;
}

.footer .grupo-1 .box h2{
  color: #c3c9c8;
  margin-bottom: 25px;
  font-size: 20px;

}

.footer .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #c3c9c8;
  margin-right: 10px;
  transition: all 300ms ease;
}

.footer .grupo-1 .red-social a:hover{
  color: #a4beba;
}

.footer .grupo-2{
  background-color: #c3c9c8;
  padding: 15px 10px;
  text-align: center;
  color: #f9f6f2;
}
@media screen and (max-width: 800px){
  .footer .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0;
  }
}

.contacto{
    width: 100%;
}
.img_inicio{
    width: 100%;
}
.diseno{
    width: 100%;
}

.container__nosotras{
  width: 100%;
}

/* furmulario */
#formulario{
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

/* tienda */
#tabla{
  text-align: center;
}
table{
  width: 90%;
  margin: 0 auto;
}
/* fotos telas */
#fototela{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 3%;
  margin-left: 20%;
}

/* info */

#info{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #c3c9c8;
  margin: 0% 10% 10%;
  border-radius: 2%;
}
@media only screen and (max-width: 600px) {
  .header{
    width: 30%;
  }
  .logo{
    width: 50%;
  }
  .almendra{
    font-size: 15px;
    margin-top: 15%;
  }
  .inicio__titulo{
    margin-top: 5%;
  }
  .main__inicio1__titulo{
    font-size: 14px;
    margin-top: 5%;
    margin-bottom: 3%;
  }
  .main__inicio__subtitulo{
    font-size: 13px;
  }
  #descripcion{
    height: 100%;
  }
  .descripcion{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 15%;
  }
  #fotosdestacada{
    display: flex;
    flex-direction: column;
    margin-left: 18%;
  }
  .destacada1{
    margin-left: 4%;
    margin-bottom: 2%;
  }
  .destacada2{
    margin-bottom: 2%;
  }
  #info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .nosotras{
    width: 80%;
    height: 80%;
    margin-left: 6%;
    border-radius: 5px;
  }
  .parrafonosotras{
    margin: 15px auto;
  }
  #formulario{
    width: 60%;
    margin: 0 auto;
  }
  .maps{
    margin-top: 2%;
    padding: 0;
  }
  #fototela{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
  }
  .tela1{
    margin-bottom: 2%;
  }
}

.footer{
  width: 100%;
  border: solid 1px #c3c9c8;

}

.footer .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0;
}

.footer .grupo-1 .box h2{
  color: #c3c9c8;
  margin-bottom: 25px;
  font-size: 20px;

}

.footer .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #c3c9c8;
  margin-right: 10px;
  transition: all 300ms ease;
}

.footer .grupo-1 .red-social a:hover{
  color: #a4beba;
}

.footer .grupo-2{
  background-color: #c3c9c8;
  padding: 15px 10px;
  text-align: center;
  color: #f9f6f2;
}
@media screen and (max-width: 800px){
  .footer .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0;
  }
}