


.contacto{
    width: 100%;
}

.diseno{
    width: 100%;
}



/* furmulario */
#formulario{
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

/* tienda */
#tabla{
  text-align: center;
}
table{
  width: 90%;
  margin: 0 auto;
}
/* fotos telas */
#fototela{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 3%;
  margin-left: 20%;
}

/* info */

#info{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #c3c9c8;
  margin: 0% 10% 10%;
  border-radius: 2%;
}
@media only screen and (max-width: 600px) {
  .header{
    width: 30%;
  }
  .logo{
    width: 50%;
  }
  .almendra{
    font-size: 15px;
    margin-top: 15%;
  }


  #formulario{
    width: 60%;
    margin: 0 auto;
  }
  .maps{
    margin-top: 2%;
    padding: 0;
  }
  #fototela{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
  }
  .tela1{
    margin-bottom: 2%;
  }
}

